:root {
  --gradient: linear-gradient(
    45deg,
    #ff97dc,
    #f880d0,
    #ff97dc,
    #fc88b1,
    #fe98e3,
    #ff80d0
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
